<ul>
  <li><%= link_to 'My balance (coming soon)', '#' %></li>
  <li><%= link_to 'Withdraw funds (coming soon)', '#' %></li>
  <li><%= link_to 'Apply for a new loan (coming soon)', '#' %></li>
  <li><%= link_to 'Apply for a refinance (coming soon)', '#' %></li>
  <li><%= link_to 'My account', '/users/my_account' %></li>
</ul>
