<% if @success %>
  <p style="color: green;"><%= @success %></p>
<% end %>

<h3>Account details</h3>

<ul>
  <li><b>Name:</b><%= @current_user.name %></li>
  <li><b>ID number:</b><%= @current_user.national_id %></li>
  <li><b>Phone number:</b><%= @current_user.phone_number %></li>
</ul>

<!--A button to edit user details with inline css-->
<a href="/users/edit" style="padding: 8px 16px; background-color: #007BFF; color: white;
  text-decoration: none; border: none; border-radius: 4px; cursor: pointer;
  display: inline-block;">Edit details
</a>

<br/>
<br/>
<%= link_to 'Home', '/' %><br/>
<%= link_to 'Register', '/users/register' %><br/>
<%= link_to 'Contact details', '/static_pages/contact_us' %><br/>
